%h1.content__box__top.col-12
  ランキング
%h3
  １位
.shop-box.rounded 
  .shop-box__title
    なるとや
  = image_tag('247939.jpg', class: "shop-box__image")
  .shop-box__text
    名古屋で１番の塩ラーメンのお店
  .star-box
    .star-rating
      .star-rating-item{style:"width:100%;"}
%h3
  2位
.shop-box.rounded 
  .shop-box__title
    一蘭 名古屋栄店
  = image_tag('824065.jpg', class: "shop-box__image")
  .shop-box__text
    仕切りのある独特なカウンターでラーメンに集中できる店
  .star-box
    .star-rating
      .star-rating-item{style:"width:50%;"}
%h3
  3位
.shop-box.rounded 
  .shop-box__title
    天下一品 名古屋栄店
  = image_tag('1904940.jpg', class: "shop-box__image")
  .shop-box__text
    こってりが楽しめるラーメンなら天下一品
  .star-box
    .star-rating
      .star-rating-item{style:"width:20%;"}