.main-header
  = render 'header'
  
.content
  .content__box.row
    .content__box__left.col-8.row
      %h1.content__box__top.col-12
        店舗紹介
      = render @shops
    .content__z.col-1
    .content__box__right.col-3
      = render 'side-bar'
    .content__box__low.col-12
      top page
.main-footer
  = render 'footer'