.header {
  background-color: black;
  color: white;
  height: 15vh;
  max-width: 100%;
  &__box {
    line-height: 15vh;
  }
}

.left-menu {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: right;
  letter-spacing: 0.05em; 
}

.menu {
  font-size: 18px;
  color: white; 
}

.menu1 {
  font-size: 18px;
  color: white;
  text-align: right;
}




.content {
  max-width: 100%;
  height: auto;
  &__box {
    padding: 50px 50px 50px 80px;
    height: auto;
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
    }
    &__top {
      height: 10vh;
      font-size: 30px;
      line-height: 10vh;
      font-weight: bold;
    }
    &__low {
      font-size: 20px;
      text-align: right;
      height: 10vh;
      line-height: 10vh;
    }
  } 
}

.shop-box {
  height: 50vh;
  padding: 20px;
  border: groove;
  margin-bottom: 50px;
  &__title {
    font-size: 25px;
  }
  &__image {
    height: 20vh;
    margin: 20px 13px;
    width: 15vw;
  }
  &__text {
    font-size: 16px;
  }
}

.shop-box1 {
  height: 50vh;
  padding: 20px;
  border: groove;
  margin-bottom: 50px;
  position: relative;
  &__title {
    font-size: 25px;
  }
  &__image {
    height: 20vh;
    margin: 20px auto;
    width: 15vw;
    background-color: antiquewhite;
  }
  &__text {
    font-size: 16px;
  }
}


.star-box {
  position:absolute;
  bottom: 15px;
  left: 80px;
}
.star-rating {
  position: relative;
  display:inline-block;
  font-size: 25px;
}
.star-rating .star-rating-item{
  position:absolute;
  overflow: hidden;
}
.star-rating .star-rating-item:before{
  content:"★★★★★";
  color: #ffcc33;
}
.star-rating:after {
  content:"★★★★★";
  color: #ccc;
}


.footer {
  background-color: black;
  max-width: 100%;
  height: 10vh;
  &__text {
    color: white;
    text-align: center;
    line-height: 10vh;
  }
}