.user-box {
  margin: 50px auto;
  height: auto;
  width: 50vw;
  border: groove;
  &__top {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-bottom: groove; 
  }
  &__contnet {
    padding: 0 20px;
    height: auto;
  }
}
.u-box {
  height: 30vh;
  padding: 20px 0 20px 20px;
  border-bottom: groove;
  margin-bottom: 20px;
  &__title {
    font-size: 25px;
    height: 5vh;
    margin-left: 20px; 
  }
  &__text {
    font-size: 15px;
    margin-left: 30px; 
  }
  &__contnet {
    display: flex;
    &__img {
      height: 15vh;
      width: 10vw;
      margin-bottom: 10px; 
    }
    &__review {
      margin: 20px 0 0 30px;
      font-size: 18px;
    }
  }
}
.u-btn1 {
  margin-left: 18vw;  
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 4vh;
  width: 8vw;
  background-color: grey;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.u-btn2 {  
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 4vh;
  width: 8vw;
  background-color: gray;
  color: white;
  font-size: 15px;
  cursor: pointer; 
}